{% load static %}
{% load custom_tags %}

<div class="container">

    <div class="card" >
        <div class="card-header">
            <h2>Meal Management</h2>

        </div>

        <table id="data-table-command" class="table table-striped table-vmiddle">
            <thead>
                <tr>
                    <th data-column-id="id" data-visible="false">ID</th>
                    <th data-column-id="name">Name</th>
                    <th data-column-id="description">Description</th>
                    <th data-column-id="price">Price</th>
                    <th data-column-id="location">Location</th>
                    <th data-column-id="date">Date</th>
                    <th data-column-id="action" data-formatter="action">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for meal in meals %}
                <tr>
                    <td>{{ meal.id }}</td>
                    <td>{{ meal.name }}</td>
                    <td>{{ meal.description }}</td>
                    <td>{{ meal.price }}</td>
                    <td>{{ meal.location }}</td>
                    <td>{{ meal.date }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

    <!-- Data Table -->
<script type="text/javascript">
    $(document).ready(function(){


        $("#data-table-command").bootgrid({
            css: {
                icon: 'zmdi icon',
                iconColumns: 'zmdi-view-module',
                iconDown: 'zmdi-expand-more',
                iconRefresh: 'zmdi-refresh',
                iconUp: 'zmdi-expand-less'

            },
            formatters: {
                "action": function(column, row) {
                    return '<button type="button" class="btn btn-success waves-effect btn-xs" data-toggle="dropdown" onClick="edit_meal(\''+ row['id'] +'\')">edit</button>\
                                <button type="button" class="btn btn-warning waves-effect btn-xs" data-toggle="dropdown" onClick="get_roster(\''+ row['id'] +'\')">rosters</button>\
                                <button type="button" class="btn btn-danger waves-effect btn-xs" data-toggle="dropdown" onClick="remove_meal(\''+ row['id'] +'\')">remove</button>'
                }
            }
        }).
        on("loaded.rs.jquery.bootgrid", function (e)
        {
            // add create button
            $(".actions").html('<a href="javascript:create_meal()" class="btn btn-primary waves-effect" style="width:100px;">Create</a>')
            $(".actionBar").attr('style', 'text-align: right;');
            $(".actions").attr('style', 'vertical-align: bottom;');
        })
    });

    function create_meal(){
        $(".meal_name").val("")
        $(".description").val("")
        $(".price").val("")
        $(".date").val("")
        $(".location").val("")
        $(".c-type").val("-1")

        $(".create-button").html("Create")
        $('#create-meal').modal('show')
    }

    function edit_meal(meal_id){
        $.ajax({
            type: 'get',
            url: '{% url "get-meal" %}',
            data: {'id': meal_id},
            dataType: "json",
            success: function (msg) {
                $(".meal_name").val(msg['name'])
                $(".description").val(msg['description'])
                $(".price").val(msg['price'])
                $(".date").val(msg['date'])
                $(".location").val(msg['location'])

                $(".c-type").val(msg['id'])

                $(".create-button").html("Edit")
                $('#create-meal').modal('show')
            }
        })

    }

    function remove_meal(meal_id){
        option = {
                    title: "Do you really want to delete this meal?",
                    text: "",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    closeOnConfirm: true
                }
        swal(option, function(){
            $.ajax({
                type: 'post',
                url: '{% url "delete-meal" %}',
                data: {'id': meal_id},
                success: function (msg) {
                    $("#content").html(msg);
                }
            });
        });
    }

    function get_roster(meal_id){
        this.document.location.href = "{% url 'rosters' %}?meal_id=" + meal_id.toString()
    }
</script>